@import url('./vendor/normalize.css');
@import url('./vendor/fonts.css');

body {
  margin: 0;
  font-family: 'PT Root', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
